.scontainer {
    background: linear-gradient(180deg, rgba(53, 238, 71, 0) 0%, #35EE47 100%);
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sbox {
    width: fit-content;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* padding: 10px; */
}

.sbox:hover {
    transform: scale(1.1);
    transition-duration: 0.7s;
}

.sbox div.img {
    /* background: black; */
    height: 300px;
}

.sbox img {
    background: black;
    width: 450px;
    height: inherit;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sbox button {
    cursor: pointer;
    background: black;
    border-radius: 40px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    width: 450px;
    height: 86px;
    color: white;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border: none;
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// .sbox button:hover {
//     background: white;
//     color: black;
// }
.parent-pbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 70%;
    justify-content: space-around;
    height: 400px;
}

@media (max-width:1163px) {
    .parent-pbox {
        align-items: flex-start;
    }
}

.pbox {
    width: 380px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-icons {
    position: relative;
}

.pbox input,
.pbox input:focus {
    outline: none;
    background: #FFFFFF;
    border: 1px;
    border-radius: 15px;
    border-right: 0;
    width: 370px;
    height: 50px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    padding: 15px;
}

span.icon-signup {
    position: absolute;
    right: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    height: 50px;
    margin-bottom: 10px;
    width: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px;
    border-left: 0;
}

button.pbox {
    cursor: pointer;
    background: #000000;
    border: none;
    border-radius: 40px;
    width: 250px;
    height: 50px;
    color: #FFFFFF;
    /* margin: 10px; */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
}